:root {
  --color-primary: #790027;
  --color-primary-dark: #5b001e;

  --color-bg: #f7f3ed;
  --color-surface: #ffffff;

  --color-text: #211c1d;
  --color-text-light: #70696a;

  --color-border: #e4ddd7;

  --color-cream: #e7d7bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;

  background: var(--color-bg);
  color: var(--color-text);

  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  border: none;
}

img {
  max-width: 100%;
  display: block;
}
